<!--Card section part STARTS-->
<section class="cards">
    <div class="container mt-5 ">
        <div class="row">
            {{#each products}}
            <div class="col-md-3 p-3 ">
                <div class="card" style="width: 16rem; height:22rem">
                    <img src="/product-images/{{this._id}}.jpg" class="card-img-top" alt="..." style="height: 10rem;" >
                    <div class="card-body">
                        <h5 class="card-title">{{this.Name}}</h5>
                        <p class="card-text p-1 ">{{this.Description}}</p>
                        <a href="#" class="btn btn-primary p-1 " >Add to Cart</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>